/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* color styles */

.primary-color{
    color: #E02C6D;
}

.text-color-1{
    color: #3A3A3A;
}

.text-color-2{
    color: #18191F;
}

.text-color-3{
    color: #787885;
}

.text-color-4{
    color: #5E6366;
}

.text-color-5{
    color: #0A0826;
}

.text-color-6{
    color: #6C6C6C;
}

.text-color-7{
    color: #D9DBE1;
}



/* shared styles */

.btn-primary{
    background-color: #E02C6D;
    border: none;
    border-radius: 41px;
    padding: 10px 24px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body{
    max-width: 1440px;
    margin: 0 auto;

}
/* header section styles */


/* navbar section styles */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    display: flex;
    align-items: center;
    padding-left: 0;
    gap: 34px;
}

.nav-item{
    list-style: none;
}

.nav-links{
    text-decoration: none;
}

.brand{
    font-size: 1.5rem;
}

/* banner section styles */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 72px;
    
}

.banner-content{
    max-width: 582px;
}
.banner-content > *{
    margin-bottom: 16px;
}

.banner-title{
    font-size: 3.25rem;
}


.banner-img-box{
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    padding: 30px 33px 31px 2px;
}
.banner-img{
    width: 100%;
}


/* sponsors section style */

.sponsors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 100px;
    padding: 35px 62px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    box-shadow: 0px 0px 1px 0px #5E6366;
}

/* collection-card section styles */

.collection-title{
    font-size: 1.75rem;
    text-align: center;
    line-height: 4.5rem;
    margin-top: 100px;
    margin-bottom: 30px;
    
}

.card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.collection-card{
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    padding: 17px 15px;
}

.card-img{
    width: 100%;
}

.card-title{
    font-size: 1.75rem;
    margin-top: 16px;
    margin-bottom: 6px;
}

.price{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 0;
    margin-top: 6px;
}

.product-info{
    font-size: 0.875;
    font-weight: 700;
}
.product-info > *{
    margin: 5px;
}
.card-rating{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 0;
}

.rating{
    font-size: 0.875rem;
    font-weight: 700;
    color: rgba(94, 99, 102, 1);
}

.star{
    color: rgba(251, 130, 0, 1);
}

.see-more{
    text-align: end;
    margin-top: 50px;
    color: rgba(224, 44, 109, 0.87);
}
/* responsive section */

@media screen and (max-width:576px){
    .navbar{
        flex-direction: column;
    }
    .nav-items{
        flex-direction: column;
    }
    .banner{
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-title{
    font-size: 1.75rem;
    }
    .banner-description{
        font-size: 0.875rem;
        font-weight: 500;
        padding: 0 20px;
        margin: 15px 20px 20px 20px;
    }
    .banner-img-box{
        padding: 51px 33px 16px 22px;
        margin: auto 50px;
    }
    .sponsors{
        flex-wrap: wrap;   
        justify-content: center;    
        border: none;
        margin-top: 50px 42.5px 50px;
        padding: 0;
        box-shadow: none;
        row-gap: 10px;
    }
    .sponsor{
        transform: scale(0.68);
    }

    .card{
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .collection-title{
        margin-top: 50px;
        margin-bottom: 20px;
        font-weight: 1rem;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

}