/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* color styles */

.primary-color{
    color: #E02C6D;
}

.text-color-1{
    color: #3A3A3A;
}

.text-color-2{
    color: #18191F;
}

.text-color-3{
    color: #787885;
}

.text-color-4{
    color: #5E6366;
}

.text-color-5{
    color: #0A0826;
}

.text-color-6{
    color: #6C6C6C;
}

.text-color-7{
    color: #D9DBE1;
}

/* shared styles */

.btn-primary{
    background-color: #E02C6D;
    border: none;
    border-radius: 41px;
    padding: 10px 24px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body{
    max-width: 1440px;
    margin: 0 auto;

}
/* header section styles */


/* navbar section styles */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    display: flex;
    align-items: center;
    padding-left: 0;
    gap: 34px;
}

.nav-item{
    list-style: none;
}

.nav-links{
    text-decoration: none;
}

.brand{
    font-size: 1.5rem;
}

/* banner section styles */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 72px;
    
}

.banner-content{
    max-width: 582px;
}
.banner-content > *{
    margin-bottom: 16px;
}

.banner-title{
    font-size: 3.25rem;
}


.banner-img-box{
    background-image: url(/images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    padding: 30px 33px 31px 2px;
}
.banner-img{
    width: 100%;
}
/* responsive section */

@media screen and (max-width:576px){
    .navbar{
        flex-direction: column;
    }
    .nav-items{
        flex-direction: column;
    }
    .banner{
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-title{
    font-size: 1.75rem;
    }
    .banner-description{
        font-size: 0.875rem;
        font-weight: 500;
        margin: 0 40px;
    }
    .banner-img-box{
        margin: auto 50px;
    }
}